@{
    ViewData["Title"] = "GerenciarProdutos";
}



<div class="container">

    <div class="row">

        <div class="col-md-10 col-md-offset-1">

            <table class="table table-responsive">
                <tr>
                    <td>Nome Produto</td>
                    <td>Descricao</td>
                    <td>Quantidade</td>
                    <td>Valor</td>
                    <td></td>
                </tr>
                @foreach (var p in ViewBag.Lista)
                {
                <tr>
                    <td>@p.Nome</td>
                    <td>@p.Descricao</td>
                    <td>@p.Quantidade</td>
                    <td>@p.Valor</td>
                    <td>
                        <form action="RemoveProduto" method="post">
                            <input hidden id="nome" name="id" value="@p.Id" />
                            <input type="submit" name="remover" value="X" />
                        </form>
                        <form action="AlteraProduto" method="post">
                            <input  name="id" value="@p.ID" hidden />
                            <input type="submit" name="alterar" value="Alterar" />
                        </form>
                    </td>
                </tr>
                 }
            </table>
            <a asp-controller="Produto" asp-action="CadastroProduto">Cadastrar Produtos</a>
        </div>


    </div>

</div>